h1 {
	float: left;
	font: 1em 4.5em Verdana;
	background-image: url(../images/pawprint-logo.png); /*54x72*/
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	
nav ul {
	list-style: none;
	}
	
nav li {
	float: right;
	border-radius: 0.375em;
	background-color: #FF00;
	padding: 0.375em;
	}

	