h1 {
	background-image: url(../images/pawprint-logo.png);
	background-repeat: no-repeat;
	background-position: 0.375em 0.375em;
	padding: 0.5em 0.375em;
	}
	
nav ul {
	list-style: none;
	}
	
nav li {
	float: right;
	border-radius: 0.375em;
	background-color: #FF00;
	padding: 0.375em;
	}

	